<div id='container' class="creator" ng-controller="ShortenController">
<!-- Your code here -->
  
  <form name="urlForm" class="urlForm">
      <input class='url' type='url' ng-model='link.url' ng-required="true" name='input'>
      <input class='submit' type='submit' ng-disabled="urlForm.input.$error.url" value='Shorten' ng-click='addLink(link)'>
      <div role="alert">
      
        <span style="color:red" class="error" ng-show="urlForm.input.$error.url">
          Not a valid URL</span>
      </div>
      <img ng-if="isLoading" class='spinner' src='/assets/spiffygif_46x46.gif'>
  </form>
  


